[class*='col-'] {
  float: left;
}
h2 {margin-left: 10px;}
[class*='col-']:last-of-type {
  padding-right: ;
}

a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*h3 {
  text-align: center; margin-bottom: 0;
}*/
h4 {
  position: relative;
}
.grid {
  margin-left: 10px;
  margin-right: 10px;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 30px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (min-width: 600px) {
  div.col-1-4[_ngcontent-c1] {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
  }
}
@media (min-width: 800px) {
  div.col-1-4[_ngcontent-c1] {
    width: 33.33%;
  }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
.make-full-height {
    min-height: -webkit-calc(100vh - 350px);
    min-height: -moz-calc(100vh - 350px);
    min-height: calc(100vh - 350px);
}

.home-center {
  /*padding-top:30vh;
  height: 80vh;
  background-image: url(/assets/thumbnails/harambe.png);*/
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 360px 323px;
}

.home-button {
  border-radius: 2px;
  width:20%;
  background-color: #5073bf;
  font-family: 'whitneyHTF-light';
  font-size: 18px;
  color: white;
  font-weight: 900;
  border-radius: 20px;
  /*
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;*/
  padding: 11px;
  margin: 0;
}

@media (max-width: 621px) {
  .home-button {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
  }
}