[class*='col-'] {
  float: left;
}
h2 {margin-left: 10px;}
[class*='col-']:last-of-type {
  padding-right: ;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*h3 {
  text-align: center; margin-bottom: 0;
}*/
h4 {
  position: relative;
}
.grid {
  margin-left: 10px;
  margin-right: 10px;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 30px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (min-width: 600px) {
  div.col-1-4[_ngcontent-c1] {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
  }
}
@media (min-width: 800px) {
  div.col-1-4[_ngcontent-c1] {
    width: 33.33%;
  }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

.home-center {
  padding-top:30vh;
  height: 70vh;
  background-image: url(/src/assets/thumbnails/Home1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 360px 400px;
}
