<div class="container">
  <div class="row">
    <div class="aboutContainer">
      <div>
        <h2>About Us</h2>
        <p>Click Out 4 Harambe is a group made in Georgia Tech, wanting to make information more accessible. We Passionately believe in the importance of being well-informed about our representatives in congress. We strive to achieve this by making user friendly content and accurately displaying information so that users can make informed decisions on voting.</p>
      </div>
    </div>
  </div>
</div>
