<div class="container">
  <div class="row">
    <div class="aboutContainer">
<div>
      <h2>About Us</h2>
      <p> This web-app is based on Chapter 2 of the Atlanta Community Engagement Playbook - Plays for Community Associations.

          In this chapter, storytelling is an important method to share ideas and information in rich ways. This site helps community associations facilitate the hosting of events while nurturing a tight-knit community by allowing members to initiate projects and take the lead. This way, community associations are able to better mobilize members around a shared vision for a more progressive community. </p>

     </div>

<div>
      <p id="playbook">Atlanta Community Engagement Playbook</p>
       	<p> The City of Atlanta and its community partners are committed to engaging residents, businesses, and organizations to shape the city to be the best it can be. This playbook includes approaches to community engagement that are constructive, sustainable, collaborative, holistic, creative, and open. </p>
      	<p> The goal is to offer community associations and service providers a set of actionable practices to achieve greater levels of quality engagement. Because neighborhood-led organizing has long been at the forefront of making change in Atlanta, from the civil rights movement through to today, this playbook is designed as a working resource—with action checklists, guides, and case studies—to support community leadership and participation in engagement processes. This resource extends to municipal agencies and service providers who have a responsibility to meet communities where they are and build sustainable partnerships through engagement. </p>
</div>
    </div>
  </div>
</div>
