@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

a {
  color: #F05F40;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

table {
  font-family: 'Merriweather',
  'Helvetica Neue',
  Arial,
  sans-serif;
}

h1, h2, h3 ,h4 ,h5 ,h6 {
  font-family: 'Merriweather',
  'Helvetica Neue',
  Arial,
  sans-serif;
}

p {
  font-family: 'Merriweather',
  'Helvetica Neue',
  Arial,
  sans-serif;
}

.biggerFont {
  font-size: 16px;
}

#person {
  margin-bottom: 20px;
  max-height: 300px;
}

.detail-text {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 4px solid #f15f40;
}

.detail-tab {
  font-size: 16px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #EC6017;
  border-color: #EC6017;
}

.clear-left {
  clear: left;
}