.selected {
  background-color: #CFD8DC !important;
  color: white;
}

h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  text-decoration: none;
  margin-top: 7.5px;
  display: inline-block;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #000000;
}
nav a:hover {
  color: #333;
}
nav .logo {
  color: #000000;
  font-size: 22px;
  font-family: "whitneyHTF-semibold";
}
nav input {
  border-style: solid;
  border-width: 2px;
  border-color: #d9d9d9;
}
nav input::placeholder {
  /*padding: 5px;*/
  font-family: 'whitneyHTF-light';
  color: #969696;
  font-size: 13px;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
nav input[name="projectSearch"] {
  margin-left: 30px;
  margin-right: 5px;
  width: 225px;
  font-family: 'whitneyHTF-light';
  padding: 7px;
}
nav input a {
  padding-left: 50px;
}
.preview {
  border: 2px solid lightgrey;border-radius: 10px;
}