.selected {
  background-color: #CFD8DC !important;
  color: white;
}
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: orangered;
  font-weight:700;
}
  .responsive-nav {
    display: none;
  }
nav a:visited, a:link {
  color: #000000;
}
nav a:hover {
  color: #333;
}
@media (min-width: 615px) {
  nav .logo {
    color: #000000;
    padding-top: 5px;
    font-size: 22px;
    font-family: "whitneyHTF-semibold";
    float: left;
    display: inline-block;
  }
}
nav input {
  border-style: solid;
  border-width: 2px;
  border-color: #d9d9d9;
}
nav input::placeholder {
  font-family: 'whitneyHTF-light';
  color: #969696;
  font-size: 13px;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
nav input[name="projectSearch"] {
  margin-left: 30px;
  margin-right: 5px;
  width: 225px;
  font-family: 'whitneyHTF-light';
  padding: 7px;
}
nav input a {
  padding-left: 50px;
}
.preview {
  border: 2px solid lightgrey;border-radius: 10px;
}
.makenavright {
  float: right;
  height: 100%;
}
@media (max-width: 621px) {
  .makenavright{
    display: none;
  }
  nav .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
  }
}
.searchnav {
  position: relative;
  top: 15%;
}
.nav-options {
  position: relative;
  top: 38%;
  transform: translateY(-50%);
}
@media (max-width: 621px) {
  .show-menu {
    display: block !important;
    float: none;
    float: right;
    margin-right: 20px;
  }
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
  text-align: center;
  padding: 10px 0;
  display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
  display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu {
  display: block !important;
  z-index: 20;
  background-color: #fff;
}
/*Hide menu when width is over 590px */
@media (min-width: 621px) {
  input[type=checkbox]:checked ~ #menu{
    display: none !important;
  }
}

