<h1>{{title}}</h1>
<br><br clear="all" />
<div class="grid grid-pad">
  <div class="topGrid">
  <button>Educational</button>
  <button>Environmental</button>
  <button>Public safety</button>
  <button>Sales</button>
  <button>Social</button>
  <button>Food drive</button>
  <button>Community</button>
  <button>Outdoor</button>
  <br clear="all" />

  <button>Looking for donations</button>
  <button>Nearing volunteer mark</button>
  <button>Almost at full funding</button>
  <button>Occurring soon</button>
  <button>Ending soon</button>
  <button>Nearby</button>
  <br clear="all" /><br clear="all" /><br clear="all" />

  <select placeholder="Sort by">
    <option value="sortBy">Sort by</option>
    <option value="newest">Newest</option>
    <option value="popular">Most Popular</option>
    <option value="recommended">Recommended</option>
  </select>
  </div>
  <br clear="all" /><br clear="all" /><br clear="all" />

  <div *ngFor="let project of projects" [routerLink]="['/detail', project.id]" class="col-md-3">
    <!--<div class="module project">-->
    <!--<h4>{{project.title}}</h4>-->
    <!--</div>-->
    <!--<a href="default.asp">-->
    <img src="{{project.thumbnail}}" style="width:300px;">
    <h2>{{project.title}}</h2><br>
    <span>{{project.name}}</span>
    <progress-bars [isDetail]="false" [resources]="project.resources"></progress-bars>
    <br>
    <p style="text-align:center; font-family:'whitneyHTF-semibold';">{{project.date}}</p>
    <!--</a>-->
  </div>
</div>


<!--<ul class="projects">-->
  <!--<li *ngFor="let project of projects"-->
    <!--[class.selected]="project === selectedProject"-->
    <!--(click)="onSelect(project)">-->
    <!--<span class="badge">{{project.id}}</span> {{project.title}}-->
  <!--</li>-->

<!--</ul>-->
<!--<div *ngIf="selectedProject">-->
  <!--<h2>-->
    <!--{{selectedProject.title | uppercase}}-->
  <!--</h2>-->
  <!--<button (click)="gotoDetail()">View Details</button>-->
<!--</div>-->
